*.iml
.DS_Store
*.idea
.idea/*.xml
.tmp
target
.project
.classpath
.settings
*.log
journal
*.log

tpid
.sonar
*.csv
*.keystore
*.cvs
*.zip

.vscode/
*.ipr
*.iws

.idea/compiler.xml
.idea/modules.xml

logs
.idea/modules.xml
.idea/libraries/Maven__asm_asm_3_1.xml
